In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
%matplotlib inline

In [6]:
info = pd.read_csv('./wecode.csv', encoding='utf-8', sep=',')

In [7]:
info.head()

,id,assignment_id,problem_id,user_id,is_final,status,pre_score,coefficient,file_name,language_id,created_at,updated_at
0,4,0,3,4,1,SCORE,10000,100,solution-0,2,2020-10-30 10:58:11,2020-10-30 10:58:19
1,5,0,4,4,1,SCORE,10000,100,solution-1,2,2020-10-30 11:07:09,2020-10-30 11:07:17
2,6,0,5,4,0,Compilation Error,0,100,solution-2,2,2020-10-30 11:08:01,2020-10-30 11:23:36
3,7,0,5,4,0,Compilation Error,0,100,solution-3,2,2020-10-30 11:11:41,2020-10-30 11:11:42
4,8,0,5,4,0,Compilation Error,0,100,solution-4,2,2020-10-30 11:15:06,2020-10-30 11:15:07

In [8]:
sorted_info = info.sort_values(by=["user_id","problem_id"], ascending=True)
sorted_info.head()

,id,assignment_id,problem_id,user_id,is_final,status,pre_score,coefficient,file_name,language_id,created_at,updated_at
13940,14008,0,81,1,1,Compilation Error,0,100,solution-1791,2,2020-11-08 16:50:50,2020-11-08 16:50:50
84860,84971,0,370,1,1,SCORE,10000,100,solution-2367,2,2020-12-01 01:59:52,2020-12-01 02:00:05
0,4,0,3,4,1,SCORE,10000,100,solution-0,2,2020-10-30 10:58:11,2020-10-30 10:58:19
1,5,0,4,4,1,SCORE,10000,100,solution-1,2,2020-10-30 11:07:09,2020-10-30 11:07:17
2,6,0,5,4,0,Compilation Error,0,100,solution-2,2,2020-10-30 11:08:01,2020-10-30 11:23:36

In [11]:
info.describe().T

,count,mean,std,min,25%,50%,75%,max
id,264606.0,132535.074908,76605.695631,4.0,66262.25,132413.5,198566.75,266671.0
assignment_id,264606.0,186.732429,109.768713,0.0,90.00,178.0,286.00,384.0
problem_id,264606.0,257.958074,158.359795,1.0,123.00,298.0,348.00,698.0
user_id,264606.0,935.002147,514.246324,1.0,497.00,925.0,1393.00,1868.0
is_final,264606.0,0.387349,0.487146,0.0,0.00,0.0,1.00,1.0
pre_score,264606.0,5596.454559,4393.183730,0.0,0.00,7000.0,10000.00,10000.0
language_id,264606.0,2.000317,0.025195,2.0,2.00,2.0,2.00,4.0

In [13]:
userSubmit = info.groupby(['user_id']).sum()
userSubmit.head(20)

               id  assignment_id  problem_id  is_final  pre_score  language_id
user_id
1           98979              0         451         2      10000            4
4         2025618              0        8518        38     466000          108
5          317619            613         748         5      30000           12
6        11670135            673       34030        88     965637          260
7          792177              0        1700         2      18843           10
11        6097888           7798       17855        12     317268          100
14         921840           1458        3176         7     130428           44
15        6719541           3143       22154        52     629946          202
20         233334              0        1730        12     120000           26
24       12553047          17751       37658        77    1031674          328
27         121541            418         828         5      52000           26
29       17867249          29272       45139        80    1225828          398
31        2997281           4641        8213         3      89000           26
34       25070916          39015       49874        84    1206981          436
35       28754773          35188       63735       151    1809718          594
37       37206853          48090       85438       102    1550820          624
40       98221760         142584      186096       215    3356653         1328
41       14438418          21328       29211        71     831328          220
42       43404003          55485       97805       194    2411386          648
43       64556330          93197      108590       159    2378013          896

In [12]:
info.describe

<bound method NDFrame.describe of             id  assignment_id  problem_id  user_id  is_final  \
0            4              0           3        4         1
1            5              0           4        4         1
2            6              0           5        4         0
3            7              0           5        4         0
4            8              0           5        4         0
...        ...            ...         ...      ...       ...
264601  266667              0          25     1796         0
264602  266668              0          25     1796         0
264603  266669              0          25     1796         1
264604  266670              0         150      255         1
264605  266671             21          24     1568         0

                   status  pre_score coefficient      file_name  language_id  \
0                   SCORE      10000         100     solution-0            2
1                   SCORE      10000         100     solution-1            2
2       Compilation Error          0         100     solution-2            2
3       Compilation Error          0         100     solution-3            2
4       Compilation Error          0         100     solution-4            2
...                   ...        ...         ...            ...          ...
264601              SCORE          0         100  solution-3977            4
264602  Compilation Error          0         100  solution-3978            2
264603              SCORE      10000         100  solution-3979            4
264604              SCORE       6250         100  solution-3980            2
264605              SCORE      10000         100   solution-609            4

                 created_at           updated_at
0       2020-10-30 10:58:11  2020-10-30 10:58:19
1       2020-10-30 11:07:09  2020-10-30 11:07:17
2       2020-10-30 11:08:01  2020-10-30 11:23:36
3       2020-10-30 11:11:41  2020-10-30 11:11:42
4       2020-10-30 11:15:06  2020-10-30 11:15:07
...                     ...                  ...
264601  2021-04-28 09:34:20  2021-04-28 09:34:27
264602  2021-04-28 09:35:07  2021-04-28 09:35:08
264603  2021-04-28 09:35:15  2021-04-28 09:35:21
264604  2021-05-11 01:34:57  2021-05-11 01:35:28
264605  2021-05-13 17:17:17  2021-05-13 17:17:40

[264606 rows x 12 columns]>